:root{
    --main: rgb(3, 3, 3);
    --light-main: rgb(252, 245, 255);
    --fonts: rgb(3, 3, 3);
    --secondary-purple: rgb(65, 4, 152);
}


@font-face {
    font-family: fuenteGeneral;
    src: url('./assets/fonts/Prompt-Regular.ttf');
}

@font-face {
    font-family: fuenteTitulo;
    src: url('./assets/fonts/LexendGiga-Black.ttf');
}

@font-face {
    font-family: fuenteH2;
    src: url('./assets/fonts/LexendGiga-Bold.ttf');
}

@font-face {
    font-family: fuenteH3;
    src: url('./assets/fonts/Prompt-SemiBold.ttf');
}

html{scroll-behavior: smooth;}

*{
    margin: 0;
    padding: 0;
    
}

body{
    font-family:fuenteGeneral;
    color: var(--light-main);
    font-size: 20px;
    animation: show 1s linear 0s;
}

h1{
    font-family: fuenteTitulo;
}

h2{
    font-size: 40px;
    text-transform: uppercase; 
    font-family: fuenteH2;
}

h3{
    font-family: fuenteH3;
    font-size: 25px;
}

@keyframes show {
    0%{opacity: 0%;}
    75%{opacity: 50%;}
    100%{opacity: 100%;}
}

/*
amarillo: FFBE0B rgb (255, 190, 11)
naranja: FA4807 rgb (250, 72, 7)
violeta: 6113CD rgb (97, 19, 205)
verde: 15d88a rgb(21, 216, 138)
beihge: #FCECDE rgb(252, 236, 222);
*/